@charset "UTF-8";

.mypageInfo {
	font-size: 15px;
	font-family: sans-serif;
	color: rgb(57, 60, 71);
	margin: 0;
	padding: 0;
}

.mypageInfo p {
	margin: 0;
	padding: 0;
}
	
.mypageInfo .container {
	width: 1000px;
	padding: 25px;
	text-align: left;
}

.mypageInfo .mypageHeader {
	height: 52px;
	font-size: 29px;
	border-bottom: 1px solid rgb(231, 233, 235);
	box-shadow: rgb(0 0 0 / 3%) 0px 2px 3px 0px;
}

.mypageInfo .detail {
	padding-top: 25px;
	font-size: 16px;
	font-family: Gulim;
	font-weight: 700;
}






