@charset "UTF-8";


@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {/*본문 내용*/
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.productCreateForm input[type=text]{
	width: 250px;
}

.productCreateForm{
	padding: 0;
	width: 1300px;
	margin: auto;
	font-family: Cafe24SsurroundAir;
}

.productCreateForm .productTableForm{
	margin: auto;
	width: 100%;
}
.productCreateForm .productTable{
	margin: auto;
	width: 800px;
}

.productCreateForm .productCreateTitle{
	margin-top: 40px;
	font-family: Cafe24Ssurround, sans-serif;
}
.productCreateForm .imgPreView {
    border: 1px solid #ccc;
    width: 200px;
    height: 200px;
    line-height: 45px;
    border-radius: 45px;
    background: #eee;
    position: relative;
    z-index: 9999;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 9px;
    font-family: 나눔고딕;
    margin-bottom: 20px;
    margin-top: 15px;    
}

.productCreateForm .productCreateSelect{
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin: 30px 60px 30px 0px;
    border-radius: 25px;
}

.productCreateForm .productTableForm ul{
	list-style: none;
}
.productCreateForm .categoryList{
	float: left;
}

.productCreateForm .imgLeft{
	float: left;
    clear: both;
}

.productCreateForm .contentLeft{
	float: left;
	padding-left: 0px;	
}

.productCreateForm .contentClear{
	clear: both;
	padding-top: 20px;
}
.productCreateForm .imgText{
	padding-left: 5px;
    font-size: 20px;
}

.productCreateForm .categoryHead{
	height: 30px;
}

#smart_editor2 #smart_editor2_content {
    border: 1px solid #b5b5b5;
    width: 700px;
}
.productCreateForm .tableFooter{
	padding-left: 150px;
	margin: 50px 0 80px 0px;
}