@charset "UTF-8";


.storeBody{
	margin: 0;
	padding: 0;
}

.storeBody .productTitle{
	font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.storeBody .imgstore{
	height: 500px;
}

.storeBody .imgstore > img{
    position: absolute;
    left : 0;
    width: 100%;

}

.storeBody .img img{
	width: 230px;
    height: 280px;
}

.storeBody .img{
	width: 230px;
    height: 280px;
}

/*
.popularImg1 td, .popularImg2 td, .newImg1 td, .newImg2 td, .totalImg1 td, .totalImg2 td{
	width: 170px;
	height: 200px;
}
*/

.storeBody .cardBoarder{
    margin-top: 130px;
    margin-bottom: 30px;
    text-align: center;
}

.storeBody .pproduct, .storeBody .ttproduct{
    float: left;
    margin-right: 30px;

}
.storeBody .banner > img{
    width: 100%;
 	
}
.storeBody .storeCard{
	width: 1000px;
    margin-left: 120px;
}
.storeBody .banner{
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
}

.storeBody .donation{
	background: gray;
}

.storeBody .name{
    width: 170px;
    height: 30px;
    font-size: initial;
    margin-top: 10px;
}

.storeBody .price{
	text-align: right;
	height: 50px;
}

#imgStore{
	width: 100%;
}
.storeBody .popularProduct, .storeBody .totalProduct{
	width: 100%;
	padding-left: 50px;
	margin-left: 70px;
}

.storeBody .storeClick{
	cursor: pointer;

}