@charset "UTF-8";

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#today {
	font-family: 'Cafe24Ssurround';
	font-size: 20px;
	text-align: center;
}

.main {
	font-family: 'Cafe24Ssurround';
	font-size: 70px;
	margin-top: 100px;
	padding-left: 150px;
	padding-top: 100px;
	font-size: 60px;
	text-align: left;
}

.sub {
	font-family: 'Cafe24SsurroundAir';
	font-size: 70px;
	margin-top: 10px;
	padding-left: 150px;
	padding-top: 10px;
	font-size: 30px;
	text-align: left;
}