<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminPetsit">
    <select id="clientSeq" resultType="Long">
       SELECT client_seq.NEXTVAL FROM dual 
    </select>

    <insert id="insertPetSit" parameterType="com.fin.app.admin.petsitManagement.Petsit">
		INSERT INTO client(mNum, mType) VALUES (#{mNum}, 1) 
    </insert>
    
    <insert id="insertMember" parameterType="com.fin.app.admin.petsitManagement.Petsit">
		INSERT INTO member(mNum, mId, mPwd, mNick, mRole)
		VALUES (#{mNum}, #{mId}, #{mPwd}, #{mNick}, 2) 
    </insert>
    
     <insert id="insertPetDetail" parameterType="com.fin.app.admin.petsitManagement.Petsit">
		INSERT INTO petDetail(mId, petStart)
		VALUES ( #{mId}, SYSDATE )
    </insert>


</mapper>