<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMileage">
	<select id="listMileage" resultType="com.fin.app.admin.mileageManagement.MileageManagement">
		SELECT mileNum, mId, mileType, milePrice, mileDate
		FROM mileage 
	</select>
	
</mapper>