<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="donation">
	<insert id="insertDonation" parameterType="com.fin.app.donation.Donation">
		INSERT INTO donation(donaNum, donaType, donaGroup, donaPrice, donaStart, donaEnd, donaState, mId)
		VALUES (#{#donaNum}, #{donaType}, #{donaGroup}, #{donaPrice}, #{donaStart}, #{donaEnd}, #{donaState}, #{mId})
	</insert>
	
	<select id="readMember" parameterType="String" resultType="com.fin.app.donation.Donation">
		 SELECT m.mId, mName
    	FROM member m 
    	LEFT OUTER JOIN memberDetail m2 ON m.mId = m2.mId
    	WHERE m.mId=#{mId}
	</select>
</mapper>

