<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home">
	<select id="bestStore" resultType="com.fin.app.Home">
		SELECT ROWNUM, a.*, p.pNum, pName, pPrice, pCateNum, pDiscountRate, pDetailPrice
		FROM ( SELECT storeDetailOptNum, RANK() OVER (ORDER BY SUM(sDetailQty) DESC) rank, SUM(sDetailQty) sumQty FROM storeDetail GROUP BY storeDetailOptNum ) a 
        LEFT OUTER JOIN storeDetailOpt d ON a.storeDetailOptNum = d.storeDetailOptNum
        JOIN product p ON d.pNum = p.pNum
		WHERE ROWNUM <![CDATA[ <= ]]> 4
		ORDER BY sumQty DESC
	</select>
	
	<select id="bestPetsit" resultType="com.fin.app.Home">
        SELECT ROWNUM, a.*, p.mId, p.petTitle, m.mNick
		FROM ( SELECT petNum, RANK() OVER (ORDER BY NVL(COUNT(*), 0) DESC) rank, NVL(COUNT(*), 0) count FROM reservation GROUP BY petNum) a
        JOIN petsit p ON a.petNum = p.petNum
        JOIN member m ON p.mId = m.mId
        WHERE ROWNUM <![CDATA[ <= ]]> 4
        ORDER BY count DESC
	</select>
	
</mapper>