<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	<select id="selectInfo" parameterType="String" resultType="com.fin.app.member.Member">
		SELECT m.mId, m.mNick, m.mNum, md.mName, md.mBirth, md.mTel, md.mEmail, md.mZip, md.mAddr1, md.mAddr2 
		FROM member m 
		JOIN memberDetail md ON m.mId = md.mid 
		WHERE m.mId = #{mId}
	</select>

</mapper>